# Backebd
/storage/*.key
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Frontend
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/public/hot

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
